*.ods
*.svg
*.png
*.vcf*
*.rda
*lock*
ref_files
VCF_finaux
calling_germline_result
calling_germline_with_genotype
calling_somatic_result
calling_somatic_with_other_tumor_coverage
other_tumor_coverage
*generated_files*
scripts_colbalt/somatic_mpileup
scripts_colbalt/calling_somatic_genotype/input
scripts_colbalt/calling_somatic_genotype/output
scripts_colbalt/calling_somatic_genotype/log
marathon/canopy/demo
marathon/canopy/input_C_a_valider
marathon/falcon/demo
marathon/falcon/output

!images/*
